body{
    text-align: center;
    margin: 0;
    
}
.profile{
    background-color:#d9fff2 ;
}
h1{
   margin: 0;
   color: #66BFBF;
   font-size: 500%;
   font-family: 'Sacramento', cursive;
}
h2{
    margin: 0;
    color: #66BFBF;
    font-size: 300%;
    font-family:'Times New Roman', Times, serif
 }
 h3{
    margin: 0;
    color: #66BFBF;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif
 }
 
 /*Profile*/
.h3-profile{
    color: #66BFBF;
    font-size: 160%;
}
.heading{
    padding-top: 100px;
}
.Cloud1{
    position:absolute;
    top: 40%;
    left: 18%;
    width: 15%;
}
.Cloud2{
    position:absolute;
    top: 10%;
    right: 15%;
    width: 15%;
}
.Mountain{
    position: relative;
    width: 48%;
}
.profile-img{
    width: 16%;
    padding-top: 5%;
}

hr{
    margin-top: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}


/*Middle - Container*/
.Middle-Container{
    
}
.para-middle{
    font-size: 120%;
}
.Skill-Heading{
    padding-top: 5%;
}
.Web1{
    width: 50%;
    margin: 100px auto 120px auto ;
    text-align: left;
    line-height: 2 ;
}
.Web2{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 2 ;
}
.web-logo{
    width: 20%;
    float: left;
    margin-right: 20px;
}
.java-logo{
    width: 20%;
    float: right;
    margin-left: 20px;
}
.mail-logo{
    width: 10%;
    padding: 4px 4px 4px 4px;
}
.mail-logo:hover{
    background-color: #66BFBF;
}
.Mail{
    padding-top: 5%;
}

/*Bottom Container*/
.Bottom-Container{
    margin-top: 5%;
    padding-top: 3%;
    background-color: #66BFBF;
    height: 100px;
    width: 100%;
}
.Linked{
    padding: 4px 4px 4px 4px;
    width: 2.5%;
    margin-right: 8%;
    color: #11999E;
}
.Youtube{
    padding-top: 0;   
    width: 3%;
    color: #11999E;
}
.Linked:hover{
    background-color: rgb(255, 255, 255);
}
.Youtube:hover{
    background-color: rgb(255, 255, 255);
}
.owner{
    color: aliceblue;
}
